<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
	</appSettings>

	<connectionStrings>
		<add name="POS_System" connectionString="Server=.;Database=POS_System;User Id=sa;Password=123456;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>